<html>
  {{template "head" ""}}
  <body class="font-sans text-sm">
    <main class="max-w-4xl m-auto">
      <div>
        <h1 class="font-bold text-xl mt-8 mb-4">Waitlist</h1>
        <div class="flex justify-between my-8">
          <p>We have {{ .Total }} entries for now.</p>
          <a href="/logout" class="font-bold text-sky-600">Logout <span aria-hidden="true">»</span></a>
        </div>
        <table class="table-auto w-full text-sm">
        <thead>
            <tr class="border-b-2 border-stone-200">
            <th class="p-2 text-left" scope="col">Bot</th>
            <th class="p-2 text-left" scope="col">User ID</th>
            <th class="p-2 text-left" scope="col">FirstName</th>
            <th class="p-2 text-left" scope="col">LastName</th>
            <th class="p-2 text-left" scope="col">Username</th>
            <th class="p-2 text-left" scope="col">Message</th>
            <th class="p-2 text-left" scope="col">Timestamp</th>
            </th>
            </tr>
        </thead>
        <tbody>
            {{ range .Entries }}
            <tr class="border-t-1 border-stone-200">
            <td class="p-2">{{ .BotUsername }}</td>
            <td class="p-2">{{ .UserID }}</td>
            <td class="p-2">{{ .FirstName }}</td>
            <td class="p-2">{{ .LastName }}</td>
            <td class="p-2">{{ .Username }}</td>
            <td class="p-2">{{ .Message }}</td>
            <td class="p-2">{{ .CreatedAt.Format "02 Jan 06 15:04 MST"  }}</td>
            </tr>
            {{ end }}
        </tbody>
        </table>
      </div>
    </main>
  </body>
</html>